:root {
  --bodyboxcolor: #4B443C;
  --highlightbodyboxcolor: #82786c;
}

body {
  background-color: #f5deb3;
  margin: 0px;
  font-family: Tahoma, sans-serif;
}

.mid {
  background-color: #f5deb3;
  padding: 3px;
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: #126180;
  cursor: pointer;
  padding: 1em;
}

.linkbox {
  background-color: #f5deb3;
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 300px;
}

.websitetitle {
  padding: 0em 0em 0em .5em;
  margin: 0px;
  font-size: 4em
}

.headerbox {
  background-color: #deaa88;
  padding: 0px;
  margin: 0px
}

.brainstormimage {
  width: 450px;
  object-fit: cover;
}

.miroimage {
  width: 680px;
  object-fit: cover;
}

.clickimage {
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerimage {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.textpadding {
  margin-bottom: 0px;
  padding: 1em 0px 0px 30px;
}

.boxshadow {
  box-shadow: 0px 2px 5px #deaa88;
}

.headerbutton {
  float: right;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Tahoma, sans-serif;
  font-size: 1.2em;
  background-size: 300%;
  transition: .6s;
  background-image: linear-gradient(to left, #965a3e, #faebd7,#965a3e);
}

.headerbutton:hover {
  background-position: right;
}

.contact {
  cursor: pointer;
  padding: 1em;
  color: lightskyblue;
}

.bodybox {
  background-color: var(--bodyboxcolor);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.contactbox {
  background-color: var(--bodyboxcolor);
  padding-bottom: 0px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 750px;
}

.contactbox:hover {
  background-color: var(--highlightbodyboxcolor);
}

.ui.borderless.topmenu.container.menu{
  border: none;
}

.names {
  font-family: Tahoma, sans-serif;
  color: 696969;
  padding-bottom: 5px;
}
